@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --backgroud-cards: #222222;
  --backgroud-option: #1a1a1a;

  --color-separator: #0a0c0d;
  --color-text: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sofia Sans Semi Condensed";
}

body {
  min-height: 100vh;

  background: rgb(28, 28, 29);
  background: radial-gradient(
    circle,
    rgba(28, 28, 29, 1) 0%,
    rgba(7, 7, 8, 1) 100%
  );

  background-attachment: fixed;

  --sb-track-color: #232e33;
  --sb-thumb-color: #5f5f5f;
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
}
