@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;500;600;700&display=swap");
:root {
  --family-text: "Barlow Condensed";
}

.dark-mode body {
  /*BODY BACKGROUND COLOR*/
  --body-radial: radial-gradient(
    circle,
    rgba(28, 28, 29, 1) 0%,
    rgba(7, 7, 8, 1) 100%
  );

  /*Paleta*/
  --dorado: #ffd500;
  --white: #fff;
  --black: #000;
  --gray: #484848;
  --gray-1: #aaa;
  --gray-2: #dadada;
  --gray-3: #2f2f2f;

  /*CARD (PERFIL, MENU, CONTENT)*/
  --background-cards: #222222;

  /*Icon*/
  --color-icon: var(--dorado);

  /*Social*/
  --color-social: var(--gray-2);
  /*Social:hover*/
  --color-social-hover: var(--dorado);

  /*Menu*/
  --text-menu: #fff;
  --border-option-menu: #2f2f2f;
  --background-option-menu: #2f2f2f;
  /*Menu:hover*/
  --text-menu-hover: #ffd500;
  --icon-menu-hover: #ffd500;
  --border-menu-hover: #ffd500;
  /*Menu:hover:active*/
  --border-menu-active: #ffd500;
  --background-menu-active: #ffd500;
  --text-menu-active: #000;
  --icon-menu-active: #000;

  /*Perfil*/
  --color-name: var(--white);
  --color-subtitle-perfil: var(--gray-1);
  --color-text-perfil: var(--white);
  --color-line-separator-perfil: var(--gray);

  /*About*/
  --color-title-about: var(--white);
  --color-text-about: var(--gray-2);
  --color-line-box-about: var(--gray);
  --color-line-box-about-hover: var(--dorado);

  /*Experience*/
  --color-text-experience: var(--white);
  --color-circle-progress: var(--dorado);
  --color-line-progress: var(--gray);
  --color-line-box-skill: var(--gray);
  --color-line-a-skill: var(--dorado);

  /*Projects*/
  --color-text-title-projects: var(--white);
  --color-box-project: var(--gray-3);

  /*Contact*/
  --background-button: var(--dorado);
  --color-text-button: var(--black);
  --color-background-input: var(--gray-3);
  --color-text-contact: var(--gray);

  /*Other*/
  --weight-skill: 200;
}

.light-mode body {
  --body-radial: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(184, 184, 184) 110%
  );
  /*CARD (PERFIL, MENU, CONTENT)*/
  --background-cards: #fff;

  /*Icon*/
  --color-icon: #0d86ff;

  /*Social*/
  --color-social: var(--gray-2);

  /*Social:hover*/
  --color-social-hover: #0d86ff;

  /*Menu*/
  --text-menu: #282828;
  --border-option-menu: #eee;
  --background-option-menu: #eee;
  /*Menu:hover*/
  --text-menu-hover: #000;
  --icon-menu-hover: #000;
  --border-menu-hover: #ffd500;
  /*Menu:hover:active*/
  --border-menu-active: #ffd500;
  --background-menu-active: #ffd500ca;
  --text-menu-active: #000;
  --icon-menu-active: #000;

  /*Other*/
  --weight-skill: 400;
}

* {
  font-family: var(--family-text);
  margin: 0;
  padding: 0;
  transition: background 0.5s ease;
}

body {
  min-height: 100vh;
  background-image: var(--body-radial);
  background-attachment: fixed;

  --sb-track-color: #232e33;
  --sb-thumb-color: #5f5f5f;
  --sb-size: 5px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  margin-right: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
}

@media (min-height: 100vh) {
  body {
    margin-right: calc(5px - (100vw - 100%));
  }
}
